@model List<QuestRooms.BLL.DtoModels.QuestRoomDto>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="card">
            <div class="card-header">
                <p>@Model.ElementAt(0).Name</p>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <span>
                        <i class="fas fa-user"></i>
                        @Model.ElementAt(0).MinAge-@Model.ElementAt(0).MaxPlayers Partisipants
                    </span>
                    <br />
                    <span>
                        <i class="far fa-star"></i>
                        @Model.ElementAt(0).Rating/10
                    </span>
                    <br />
                    <span>
                        <i class="far fa-surprise"></i>
                        @Model.ElementAt(0).FearLvl/10
                    </span>
                </div>
            </div>
        </div>
    </div>
    
</div>


