body {
}

header, footer {
    height: 100px;
    background: #22a6b3;
}

.roomCard{
   padding-top: 30px;
}

.textCard{
    text-align: center;
    font-size:22px;
}

.imagineCard {
    width: 100%;
    height: 204px;
}

.bodyDesign {
    background: #7ed6df;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

